.btn-to-get{
  font-family: 'TT Lakes medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin: 16px;
  position: relative;
  
  img{
    position: absolute;
  }
  
  @media(min-width: 768px) {
    margin-left: 24px;
  }
}

