.image-slider__wrapper{
  padding: 16px 0px 16px 16px;
}

.image-slider2,
.image-slider1{
  width: 320px;
  height: 120px;
  position: relative;
}
.swiper-pagination{
  position: absolute;
  top: 100px;
  z-index: 0;
}
.pagination2{
  top: 200px;
}
.pagination3{
  top: 250px;
}

.image-slider2 .swiper-pagination-bullet,
.image-slider1 .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #B5B6BC;
}